.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    margin-bottom: 20px;
}

.item__img{
    width: 70px;
}

.item__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.item__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: #000000;

}

.item__price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;

    color: #000000;
}